body {
    background-color: #f6f6f6;
    font-size: 15px;
}

a {
    text-decoration: none;
    color: black;
}

a:hover {
    color: aquamarine;
}

#header {
    width: 100%;
    background: #ffffff;
    z-index: 100;
    position: relative;
}
#header-nav {
    width: 1000px;
    height: 52px;
    margin: 10px auto;
    display: flex;
    align-items: center;
    list-style-type: none;
}
.header-nav-item {
    padding: 0 18px;
    font-size: 15px;
}

#container {
    align-content: center;
}

#main {
    width: 1000px;
    display: flex;
    justify-content: space-between;
    margin: 10px auto;
}

.Card {
    background: #ffffff;
}

.MainColumnCard {
    box-shadow: none;
    border-bottom: 1px solid #f0f2f7;
}

#MainContent {
    width: 694px;
    border: 1px;
    background-color: #ffffff;
}

#side-div {
    display: block;
    width: 296px;
    border: 1px;
}