<!-- 文章页 -->
<!DOCTYPE html>
<html lang="en"
      xmlns:layout="http://www.ultraq.net.nz/web/thymeleaf/layout"
      layout:decorate="~{skeleton.html}"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <title th:text="${article_title}">文章页</title>
</head>
<body>
<div layout:fragment="main-content">
    <article id="article">

    </article>
</div>
<div layout:fragment="script">
    <script src="https://cdn.bootcss.com/showdown/1.3.0/showdown.min.js"></script>
    <script type="text/javascript" th:inline="javascript">
        var content =[[${article_content}]];
        var converter = new showdown.Converter({tables:true}); //初始化转换器
        var htmlContent  = converter.makeHtml(content); //将MarkDown转为html格式的内容
        console.log(htmlContent);
        document.getElementById("article").innerHTML = htmlContent;
    </script>
</div>
</body>
</html>