<!-- 首页 -->
<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="common.css">
    <link rel="stylesheet" type="text/css" href="index.css">
    <title>标题</title>
</head>
<body>
    <header id="header">
        <nav>
            <ul id="header-nav">
                <li class="header-nav-item tab"><a href="">首页</a></li>
                <li class="header-nav-item tab"><a href="/">栏目</a></li>
                <li class="header-nav-item tab"><a href="/about">关于</a></li>
            </ul>
        </nav>
    </header>
    <div id="container">
        <main id="main">
            <div id="feed-div">
                <article class="feed-item" th:each="article:${articles}">
                    <h1 th:text="${article.title}">文章标题</h1>
                    <p th:text="${article.summary}">文章简短说明</p>
                </article>
            </div>
            <div id="side-div">
                <!-- <div>
                    <p>侧边栏文字</p>
                    <p>侧边栏文字</p>
                    <a>快速链接1</a>
                    <a>快速链接2</a>
                    <a>快速链接3</a>
                </div> -->
                <footer id="footer">
                    <p>Copyright&copy;2020 StyxS</p>
                </footer>
            </div>
        </main>
    </div>
</body>
</html>