<!-- 网页框架 -->
<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="/skeleton.css">
    <title>模板标题</title>
</head>
<body>
<header id="header">
    <nav>
        <ul id="header-nav">
            <li class="header-nav-item tab" th:each="tabItem:${navTabItems}">
                <a th:href="${tabItem.navigateToUrl}" th:text="${tabItem.title}">首页</a>
            </li>
        </ul>
    </nav>
</header>
<div id="container">
    <main id="main">
        <div id="MainContent">
            <div layout:fragment="main-content"> </div>
        </div>
        <div id="side-div">
            <div layout:fragment="side-content"></div>
            <footer id="footer">
                <p>Copyright&copy;2020 StyxS</p>
                <p>Powered by <a href="https://github.com/Styx-S">StyxS</a>, <a href="https://github.com/NaHCO3">NaHCO3</a></p>
            </footer>
        </div>
    </main>
</div>
<div layout:fragment="script"></div>
</body>
</html>